<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if title %}{{ title }}{% else %}Oops!{% endif %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Homepage</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="incomesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Incomes
          </a>
          <div class="dropdown-menu" aria-labelledby="incomesDropdown">
            <a class="dropdown-item" href="/incomes">View All</a>
            <a class="dropdown-item" href="/new_income">New Income</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="expensesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Expenses
          </a>
          <div class="dropdown-menu" aria-labelledby="expensesDropdown">
            <a class="dropdown-item" href="/expenses">View All</a>
            <a class="dropdown-item" href="/new_expense">New Expense</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="goalDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Goal
          </a>
          <div class="dropdown-menu" aria-labelledby="goalDropdown">
            <a class="dropdown-item" href="/goal">View</a>
            {% if goal_exists == False %}
              <a class="dropdown-item" href="/new_goal">New Goal</a>
            {% endif %}
          </div>
      </div>
    </div>
  </nav>

  <div class="position">
    <div class="scroll-container1">
      <div class="scroll-bar1" id="scrollBar"></div>
    </div>
  </div>

  <div class="body-content">{% block content %}{% endblock %}</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script type="text/JavaScript" src="{{ url_for('static', filename='index.js') }}"></script>
  <script>window.onscroll = function () { indicateScroll("scrollBar") };</script>
</body>
</html>
