{% extends "base.html" %}
{% block content %}

<h1>Calculator</h1>

<p>{{msg.description}}</p>

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.number1.label }} {{ form.number1 }}
    </div>
    <div class="form-group">
        {{ form.operation.label }} {{ form.operation }}
    </div>
    <div class="form-group">
        {{ form.number2.label }} {{ form.number2 }}
    </div>
    <button type="submit" class="btn btn-primary">Calculate</button>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}