{% extends "base.html" %} {% block content %}

<h1>Expenses</h1>
<div class="flash messages">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
</div>

<div id="expensesAccordion">
  <div class="card">
    <div
      class="card-header"
      id="expensesHeading"
      style="background-color: #ecc6f3"
    >
      <h2 class="mb-0">
        <button
          class="btnShift"
          data-toggle="collapse"
          data-target="#expensesCollapse"
          aria-expanded="true"
          aria-controls="expensesCollapse"
        >
          <span> View Expenses </span>
        </button>
      </h2>
    </div>

    <div
      id="expensesCollapse"
      class="collapse show"
      aria-labelledby="expensesHeading"
      data-parent="#expensesAccordion"
      style="background-color: #ecc6f3"
    >
      <div class="card-body">
        <div class="table-responsive" style="background-color: #ecc6f3">
          <table
            class="table table-striped table-bordered"
            style="background-color: #e8cfed"
          >
            <thead class="thead-dark">
              <tr class="hover-highlight">
                <th>Name</th>
                <th>Category</th>
                <th style="text-align: center">Amount (£)</th>
                <th style="text-align: center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% if expenses %} {% for id, expense in expenses.items() %}
              <tr>
                <td>{{ expense['name'] }}</td>
                <td>{{ expense['category'] }}</td>
                <td style="text-align: center">{{ expense['amount'] }}</td>

                <td style="text-align: center">
                  <button
                    type="button"
                    class="btn btn-warning rounded-pill"
                    onClick="editExpense({{ id }})"
                  >
                    Edit Expense
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger rounded-pill"
                    onClick="deleteExpense({{ id }})"
                  >
                    Delete Expense
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>
              </tr>
              {% endfor %} {% else %}
              <tr>
                <td colspan="4" style="text-align: center">
                  <h3>No data here!</h3>
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% if expenses %}
  <div class="card">
    <div
      class="card-header"
      id="summaryHeading"
      style="background-color: #ecc6f3"
    >
      <h2 class="mb-0">
        <button
          class="btnShift"
          data-toggle="collapse"
          data-target="#summaryCollapse"
          aria-expanded="true"
          aria-controls="summaryCollapse"
        >
          <span> View Summary Statistics </span>
        </button>
      </h2>
    </div>

    <div
      id="summaryCollapse"
      class="collapse"
      aria-labelledby="summaryHeading"
      data-parent="#expensesAccordion"
      style="background-color: #ecc6f3"
    >
      <div class="card-body">
        <p>Your total expenditure: £{{ total_spend }}</p>
        <p>
          You spent the largest amount at a time on... {{ max_spend_name }} -
          £{{ max_spend }}
        </p>
        <p>You frequently paid in this area... {{ most_frequent_spend }}</p>
      </div>
    </div>
  </div>
  <br /><br />
  {% endif %}
</div>
{% endblock %}
