{% extends "base.html" %}
{% block content %}
<h1>Goals</h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"></script>

<body>
<div class="wrapper">
    <div class="card react">
        <div class="circle">
            <div class="bar"></div>
            <div class="box"><span></span></div>
        </div>
        <div class="text"> "{{target_name}}" - £{{target}}</div>
    </div>
</div>

<button type="button" class="btn btn-warning rounded-pill" onClick="editGoal({{ goal.id }})">
    Edit Goal
    <i class="fas fa-pencil-alt"></i>
</button>
<button type="button" class="btn btn-danger rounded-pill" onClick="deleteGoal({{ goal.id }})">
    Delete Goal
    <span aria-hidden="true">&times;</span>
</button>


<div class="flash messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<script>
    let options = {
        startAngle: -1.55,
        size: 180,
        value: 0,
        fill: { gradient: ['#00cd03', '#400279'] }
    }
    $(".circle .bar").circleProgress(options).on('circle-animation-progress',
        function (event, progress, stepValue) {
            $(this).parent().find("span").text(String(stepValue.toFixed(2).substr(2)) + "%");
        });
    $(".react .bar").circleProgress({
        value: {{ progress_value }}
        });
</script>
</body>
{% endblock %}