{% extends "base.html" %}
{% block content %}

<!--IF NO EXPENSES EXIST JUST SAY THAT - also use block content stuff-->
<h1>Goals</h1>

<div>
<!-- Add progress bar -->
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ progress_percentage }}%;"
        aria-valuenow="{{ progress_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<!-- Add chart -->
<canvas id="myChart" width="400" height="400"></canvas>

<!-- Add wheel -->
<div id="wheel" style="width: 300px; height: 300px;"></div>

</div>

<div class="flash messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<script type="text/JavaScript" src="{{ url_for('static', filename='index.js') }}">
</script>

{% endblock %}