{% extends "base.html" %}
{% block content %}

<h1>Homepage</h1>
<div class="flash messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<element class="home-body">
    <div id="incomesAccordion">
        <div class="card" color="black">
            <div class="card-header" id="summaryHeading">
                <h2 class="mb-0">
                    <button class="btnShift" data-toggle="collapse" data-target="#summaryCollapse" 
                        aria-expanded="true" aria-controls="summaryCollapse"><span>
                        View All Statistics
                    </span></button></button>
                </h2>
            </div>
            <div id="summaryCollapse" class="collapse show" aria-labelledby="summaryHeading" data-parent="#incomesAccordion"
            style="background-color: #ecc6f3;">
            {% if incomes or expenses %}
                {% if incomes %}
                <br><h3><b>INCOMES</b></h3>
                <div class="card-body">
                    <p>Your total income: £{{ total_income }}</p>
                    <p>Your largest earning was... {{ max_income_name }} - £{{ max_income }}</p>
                    <p>You frequently earn in this area... "{{ most_frequent_income }}"</p>
                {% else %}
                    <p>You don't have any incomes!</p>
                {% endif %}
                ------
                </div>
                <div id="expensesAccordion">
                    {% if expenses %}
                    <div id="summaryCollapse" class="collapse show" aria-labelledby="summaryHeading" data-parent="#expensesAccordion"
                    style="background-color: #ecc6f3;">
                    <h3><b>EXPENSES</b></h3>
                        <div class="card-body">
                            <p>Your total expenditure: £{{ total_spend }}</p>
                            <p>You spent the largest amount at a time on... "{{ max_spend_name }}" - £{{ max_spend }}</p>
                            <p>You frequently paid in this area... {{ most_frequent_spend }}</p>
                        {% else %}
                            <p>You don't have any expenses!</p>
                        {% endif %}
                        {% if incomes %}
                            {% if expenses %}
                            ---------------------------------------------------------------------
                            <p>The difference between your incomes and expenditures: £{{difference}}</p>
                            {% endif %}
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
                {% else %}
                    <p>You don't have any incomes or expenses!</p>
                {% endif %}
            </div>
    </div>
</element><br>

<div class="home-card">
    {% if goal_exists %}
    <br><div class="dashed">
        <p><h3>"{{target_name}}": £{{target}}</h3></p>
    </div><br>

    <div class="progress-container" id="barBox">
        <div id="bar"></div>
    </div>
    <p>You're {{ progress_value }}% of the way there!</p>
    <script>show("barBox")</script>
    {% else %}
    <script>hide("barBox")</script>
    <h3>You don't have a goal!</h3>
    {% endif %}
</div>
<script>window.onload = function () { updateProgress('bar', {{ progress_value }}) };</script>
{% endblock %}  