{% extends "base.html" %}
{% block content %}
<h1>TESTING</h1>
<br>

<div class="Summary" style="align-items: center;">
    <!-- Progress bar -->
    <button onclick="show('ProgressContainer')">Try it</button>
    <div class="progress-container" id="ProgressContainer" >
        <div class="progress-bar" id="ProgressBar">You're {{ progress_value }}% of the way there!</div>
    </div>

<!-- Summary -->
    <p>"{{target_name}}"</p>
    <button type="button" class="btn btn-warning rounded-pill" onClick="editGoal({{ goal.id }})">
        Edit Goal
        <i class="fas fa-pencil-alt"></i>
    </button>
    <button type="button" class="btn btn-danger rounded-pill" onClick="deleteGoal({{ goal.id }})">
        Delete Goal
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script>updateProgressBar(progress_value)</script>

{% endblock %}