{% extends "base.html" %}
{% block content %}
<h1>Progress Bar</h1>
<link rel="stylesheet" href="style.css">
<br>

<div class="Summary" style="align-items: center;">
    <!-- Progress bar -->
    <div class="progress-container">
        <div class="progress-bar" id="myProgressBar">You're {{ progress_value }}% of the way there!</div>
    </div>

<!-- Summary -->
    <p>"{{target_name}}"</p>
    <button type="button" class="btn btn-warning rounded-pill" onClick="editGoal({{ goal.id }})">
        Edit Goal
        <i class="fas fa-pencil-alt"></i>
    </button>
    <button type="button" class="btn btn-danger rounded-pill" onClick="deleteGoal({{ goal.id }})">
        Delete Goal
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script>
    var progress_value = {{ progress_value }};

    function updateProgressBar() {
        var progressBar = document.getElementById("myProgressBar");
        progressBar.style.width = progress_value + "%";
    }

    window.onload = updateProgressBar;
</script>


</body>
{% endblock %}