{% extends "base.html" %}

{% block content %}
<head>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='ajax_js.js') }}"></script>
</head>
<div class="saved">
    <section class="intro">
        <h1>Saved</h1>
        <p>Remember that one?</p>
    </section>

    <!-- User Guide Section -->
    <br><br><section class="user-guide">
        <h2>When You AutoSwiped</h2>
        <ol class="guide-steps">
            <li>
                <h3>Review Your Favourites</h3>
                <p>Access your saved favourites anytime and find your perfect match.</p>
            </li>
            <li>
                <h3>Get In Touch</h3>
                <p>Found the one? Get in touch with the seller right through the app.</p>
            </li>
        </ol>
    </section>


    <div class="flash messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    
</div>
{% endblock %}