{% extends "base.html" %}

{% block content %}
<head>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='ajax_js.js') }}"></script>
</head>
<div class="login">
    <section class="intro">
        <h1>Signup</h1>
        <p>Don't have an account? Make one.</p>
    </section>

    <!-- User Guide Section -->
    <br><br><section class="user-guide">
        <h2>Login to Use AutoSwipe</h2>
        <ol class="guide-steps">
            <li>
                <h3>Create an Account</h3>
                <p>Sign up for a new account to get started. It's quick and easy!</p>
            </li>
            <li>
                <h3>Log In</h3>
                <p>Already have an account? Login to get started.</p>
            </li>
        </ol>
    </section>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }} {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.first_name.label }} {{ form.first_name }}
        </div>
        <div class="form-group">
            {{ form.password.label }} {{ form.password }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }} {{ form.confirm_password }}
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    
    <div class="flash messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

</div>
{% endblock %}