body {
    align-items: center;
    text-align: center;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(55, 87, 171, 1) 54%, rgba(5, 142, 170, 1) 100%);
    color: rgba(255, 255, 255, 0.652);
    font-family: "Everson Mono";
    font-size-adjust: 0.58;
}

.center {
    align-items: center;
    text-align: center;
    padding-left: 540px;
}

.hover-highlight:hover {
    background-color: #af27f9;
}

/* Override Bootstrap's .bg-primary class */
.bg-primary {
    position: absolute;
    top: 14px;
    right: 20px;
    background-color: #116ac3 !important;
}

/* Darker shade for focus and hover */
button.bg-primary:hover {
    background-color: #124d8c !important;
}


/* Goal  display */
.progress-container {
    align-items: center;
    width: 60%;
    background-color: #ea7908c5;
    border: 3px solid pink;
}

.progress-bar {
    align-items: center;
    width: 10;
    height: 50px;   
    background-color: #b71a61;
}