.hover-highlight:hover {
    background-color: #af27f9;
}

/* Override Bootstrap's .bg-primary class */
.bg-primary {
    position: absolute;
    top: 14px;
    right: 20px;
    background-color: #116ac3 !important;
    /* Dark blue color */
}

body {
    background-color: #e8cfed !important;
}

/* Additional styles for focus and hover */
.bg-primary:focus,
.bg-primary:hover,
button.bg-primary:focus,
/* Darker shade for focus and hover */
button.bg-primary:hover {
    background-color: #124d8c !important;
}

/* Add your custom styles for charts and layout here */
.chart-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.goal-info,
.summary-stats {
    margin: 20px 0;
}